@import '../../index.scss';

.category-item {
	display: flex;
	flex-direction: column;
	margin: 1rem 0rem 2rem 0rem;
	font-size: 1.6rem;
	border: 2px solid $color-grey-dark;
	background-color: $color-grey-light;

	&__top {
		display: flex;
		flex-direction: column;
		text-align: center;
		order: 0;

		.category-name {
			text-transform: capitalize;
			padding: 1rem 0rem;
		}
	}

	&__mid {
		order: 1;
		.active-buttons {
			display: flex;
			justify-content: space-evenly;
			padding: 10px;
		}
	}

	&__bot {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}
}

// .category-item__mid {
// }

// .category-item__bot {
// }
