@import '../../index.scss';

label {
	align-self: center;
	font-size: 1.6rem;
	padding: 1rem 0rem;
}

.edit-box {
	background-color: $color-grey-light;
}

.edit-pair {
	display: flex;
	flex-direction: column;
}

.edit {
	padding: 0.5rem 1rem;
}

.finalize-edits {
	display: flex;
	justify-content: space-around;
	margin-top: 1.5rem;
}
