.input-container {
	display: flex;
	margin: 0 auto;
	height: 50px;
	width: 80%;
	padding: 10px;
	font-size: inherit;
	border: 1px solid rgb(156, 154, 154);

	&.input-item {
		flex: 2;
		margin-right: 10px;
	}
}
