tr {
	color: #5f6062;

	&:nth-child(2n) {
		background: #f0f3f5;
	}
}

.item {
	padding: 5px 20px;

	&--last {
		display: flex;
		justify-content: space-between;
	}
}

.red {
	color: red;
}

.green {
	color: green;
}

.margin {
	margin-right: 15px;
}
