* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

// Colors
$color-primary: #f7f7f7;
$color-secondary: #6ed697;
$color-tertiary: beige;

$color-expense: #f06748;
$color-grey-light: #130a1014;
$color-grey-dark: #999;

// Font Size
$default-font-size: 1.6rem;
